body { 
  font-size: $baseFontSize;
  font-family: $baseFont;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 15px;
  font-weight: $headingFontWeight;
  padding: 10px 0;
}
h1 { 
  font-size: 1.7em; 
}
h2 { 
  font-size: 1.4em; 
}
h3 { 
  font-size: 1.1em;
}
p { 
  font-size: 0.8em;
  margin-bottom: 15px;
}
a {
  color: $darkGrey;
  text-decoration: none;
}